<template>
  <div class="content-container">
    <div class="section content-title-group">
      <h2 class="title">About Vue Getting Started</h2>
      <p>here are some helpful resources for this project.</p>
      <br />
      <h3 class="title sub-title">Source Code</h3>
      <p>You can find the source code for this project at the link below</p>
      <p>
        <a
          href="https://gitlab.com/ungarala_manoj/vue-project"
          target="_blank"
          >gitlab.com/ungarala_manoj/vue-project</a
        >
      </p>
      <br />
    </div>
  </div>
</template>
