<template>
  <div class="content-container">
    <div class="section content-title-group">
      <h2 class="title">Doctors</h2>
      <div class="columns">
        <div class="column is-8" v-if="Doctors">
          <ul v-if="!selectedDoctor">
            <li v-for="doctor in Doctors" :key="doctor.id">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <div :key="doctor.name" class="name">
                      {{ doctor.firstName }} {{ doctor.lastName }}
                    </div>
                    <div class="description">{{ doctor.description }}</div>
                  </div>
                </div>
                <footer class="card-footer">
                  <button
                    class="link card-footer-item"
                    @click="selectDoctor(doctor)"
                  >
                    <i class="fas fa-check"></i>
                    <span>Select</span>
                  </button>
                </footer>
              </div>
            </li>
          </ul>
          <DoctorDetail
            :doctor="selectedDoctor"
            @save="saveDoctor"
            @cancel="cancelDoctor"
            v-if="selectedDoctor"
          />
          <div class="notification is-info" v-show="message">{{ message }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { doctorWatchers, lifecycleHooks, logger, dataService } from '../shared';
import DoctorDetail from '@/views/doctor-detail';

export default {
  name: 'Doctors',
  data() {
    return {
      Doctors: [],
      selectedDoctor: undefined,
      message: '',
      capeMessage: '',
    };
  },
  components: {
    DoctorDetail,
  },
  mixins: [lifecycleHooks, doctorWatchers],
  created() {
    this.loadDoctors();
    logger.info(`${this.componentName} created hook called`);
  },
  methods: {
   
    async loadDoctors() {
      this.Doctors = [];
      this.message = 'getting the Doctors, please be patient';
      this.Doctors = await dataService.getDoctors();
      this.message = '';
    },
    cancelDoctor() {
      this.selectedDoctor = undefined;
    },
    saveDoctor(doctor) {
      const index = this.Doctors.findIndex(h => h.id === doctor.id);
      this.Doctors.splice(index, 1, doctor);
      this.Doctors = [...this.Doctors];
      this.selectedDoctor = undefined;
    },
    selectDoctor(doctor) {
      this.selectedDoctor = doctor;
    },
  },
};
</script>
