<template>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a :href="gitlab" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      gitlab: 'https://gitlab.com/ungarala_manoj/vue-project',
    };
  },
};
</script>
